.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 160px);
    grid-template-rows: repeat(4, 120px);
    max-width: 100%;
    grid-gap: 10px;
    border: 1px solid #222;
    padding: 10px;  
    background: rgb(43, 43, 43);
}
.One {
    grid-column: auto;
    grid-row: auto / span 4;
    background: gray;
    border: 3px solid greenyellow;
}
.Two {
    grid-row: auto / span 2;
    grid-column: auto / span 6;
    background: gray;
    border: 3px solid greenyellow;
}
.Three {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
    background: gray;
    border: 3px solid greenyellow;
}
.Four {
    grid-column: auto / span 4;
    grid-row: 3 / span 2;
    border: 3px solid greenyellow;
    background: gray;
}