.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 160px);
    grid-template-rows: repeat(4, 160px);
    max-width: 1000px;
    grid-gap: 8px;
    border: 1px solid #222;
    padding: 10px;  
    background: rgb(43, 43, 43);
}
.One {
    background: #333;
    border: 3px solid rgb(255, 51, 0);
    grid-column: auto / span 3;
    grid-row: auto / span 2;
}
.Two {
    background: #333;
    border: 3px solid rgb(255, 51, 0);
    grid-column: auto / span 3;
    grid-row: auto / span 2;
}
.Three {
    background: #333;
    border: 3px solid rgb(255, 51, 0);
    grid-column: auto / span 4;
    grid-row: auto / span 1;
}
.Four {
    background: #333;
    border: 3px solid rgb(255, 51, 0);
    grid-column: auto / span 2;
    grid-row: auto / span 1;
}
.Five {
    background: #333;
    border: 3px solid rgb(255, 51, 0);
    grid-column: auto / span 2;
    grid-row: auto / span 1;
}
.Six {
        background: #333;
        border: 3px solid rgb(255, 51, 0);
        grid-column: auto / span 2;
        grid-row: auto / span 1;
}
.Seven {
    background: #333;
    border: 3px solid rgb(255, 51, 0);
    grid-column: auto / span 2;
    grid-row: auto / span 1;
}